.contact {
  min-height: 100vh;
  padding: 80px 20px;
  background:#fcf6f5;
  margin-bottom: 10px;
  /* color: #990011; */
  display: flex;
  align-items: center;
  justify-content: center;
  /* border-radius: 20px; */
}

.contact-container {
  width: 100%;
  max-width: 500px;
  background: #990011;
  padding: 40px;
  border-radius: 16px;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.7);
  text-align: center;
  border-radius: 20px;
}

.contact-container h1 {
  font-size: 36px;
  margin-bottom: 10px;
  color: #fcf6f5;
}

.contact-subtitle {
  color: #fcf6f5 !important;
  margin-bottom: 30px;
}

/* Form */
.contact-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact-form input,
.contact-form textarea {
  background: #fcf6f5;
  border: 1px solid #1e293b;
  padding: 14px;
  border-radius: 10px;
  color: #020617;
  font-size: 15px;
}

.contact-form input::placeholder,
.contact-form textarea::placeholder {
  color: #64748b;
}

.contact-form input:focus,
.contact-form textarea:focus {
  outline: none;
}

/* Button */
.contact-form button {
  margin-top: 10px;
  padding: 14px;
  border: none;
  border-radius: 10px;
  background: silver;
  color: #020617;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

.contact-form button:hover {
  background: goldenrod;
  transform: translateY(-2px);
}
.contact1{
    /* border: 1px solid white;
    border-radius: 20px; */
    padding: 0%;
}
